[submodule "mina"]
	path = mina
	url = https://github.com/MinaProtocol/mina.git
[submodule "formal/vendor/CompElliptic"]
	path = formal/vendor/CompElliptic
	url = https://github.com/l-adic/CompElliptic.git
	branch = v4.30.0
