[workspace]
resolver = "2"

members = [
    "packages/curves/curves-napi",
    "prover/r1cs",
    "packages/snarky-r1cs/snarky-r1cs-napi",
]

[workspace.dependencies]
ark-ff = "0.5.0"
ark-ec = "0.5.0"
ark-pallas = "0.5.0"
ark-vesta = "0.5.0"
ark-bn254 = "0.5.0"
ark-std = "0.5.0"
rand = { version = "0.8", features = ["std_rng"] }
rand_chacha = "0.3"
num-bigint = "0.4.4"
num-integer = "0.1"
napi = { version = "3.4.0", features = ["napi6"] }
napi-derive = "3.3.0"
napi-build = "2.2.4"
bulletproofs = { git = "https://github.com/l-adic/bulletproofs", rev = "bb38a6ef1892fc05415e971546eeefd7321697b7"}

curves-napi = { path = "packages/curves/curves-napi" }

[workspace.dependencies.proptest]
version = "1.0"
